<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- Se definen las PLANTILLAS  --}}
    <nav>AQUI VA LA BARRA DE NAVEGACION</nav>
    <main>
        {{{body}}}
    </main>
    <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, autem animi facilis consequuntur recusandae molestiae quidem quas itaque eos pariatur perspiciatis repudiandae voluptas? Ad modi sint necessitatibus, beatae illo distinctio.</footer>
</body>
</html>