<h1>
    SITIO WEB
</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur incidunt deleniti vitae odit debitis optio, eveniet autem a, totam voluptatibus molestiae alias dolorem error consequatur distinctio quibusdam, nulla quos! Pariatur.</p>